%h3 友情链接
.col-md-4
  %p.testimonial 农业部生物燃气利用主管部门
  %p.testimonial 杭州能源环境工程有限公司
  %p.testimonial 北京盈和瑞环境工程有限公司
  %p.testimonial 上海丸九环保科技有限公司
  %p.testimonial 上海开元清洁能源工程技术有限公司
.col-md-5
  %p.testimonial 中粮肉食有限公司
  %p.testimonial 山东恒能环保能源设备有限公司
  %p.testimonial 印度压缩机有限公司
  %p.testimonial 张家港富瑞特装股份有限公司
  %p.testimonial 福建绿康生物科技有限公司