/ Breadcrumbs - START
.background-clouds.breadcrumbs-container
  .container
    %ol.breadcrumb
      %li
        %a{:href => "index"} 首页
      %li.active 公司介绍
/ Breadcrumbs - END
%section
  .container
    .row
      .col-md-3
        .list-group.bright.background-clouds.color-text
          .list-group-item.active
            菜单
          %a.list-group-item{:href => "#_about"}
            关于我们
          %a.list-group-item{:href => "#_about"}
            发展目标
          %a.list-group-item{:href => "#_principle"} 
            作用机理
          %a.list-group-item{:href => "#_technology"} 
            工艺设计

      .col-md-9
        .content#_hope
        %h1 发展目标
        %ul 
          %li
            愿景：农区及小城镇美好生活
          %li
            使命：建设管理可持续农业现代化、城镇化环保处理基础设施
          %li
            长期目标：农业源和城镇化污染物的能源化、资源化循环利用的领导者
          %li
            近期目标：收购兼并现有处理厂，实施改建扩建，建立污染物第三方处理模式

        .content#_about
          %h1 关于我们
          %p 成立于2012年9月，中、澳合资技术服务公司。
          %p 从事有机污水沼气厂技术改造、技术服务，沼气厂运营技术支持。
          %p 技术特点：通过向不同种类的高浓度有机污水，如养殖场、屠宰场、食品厂饮料厂、餐厨垃圾等原料，添加微生物改良菌剂进行预降解生成高效厌氧降解所需的挥发性脂肪酸VFA等重要物质，创造最有效的厌氧反应微生物环境，从而生产高甲烷纯度沼气。
          %p 在中国-欧盟合作项目常州市武进区礼嘉镇农业废弃物集中处理中心完成技术落地，取得增加产气效率94%业绩。
          %img{ src: 'img/aboutus02.png' }
          %hr

        .content#_principle
          %h1 作用机理
          %img{ src: 'img/about04.png',align: "right" }
          %p 通过旺田菌剂，将有机物厌氧降解生成含甲烷沼气。过程分为四步，不同阶段由一定的微生物主导。

          %ul
            %li 
              %h5 
                第一阶段：水解
              主要成分分解为脂肪酸、氨基酸和糖分，这些生成物质是菌类的食物
            %li 
              %h5
                第二阶段：酸化
              产酸菌利用上述食物生产不同分子量的多种酸
            %li 
              %h5 
                第三阶段：乙酸生成
              酸类经乙酸菌代谢成为乙酸
            %li 
              %h5 
                第四阶段：生成甲烷
              乙酸为甲烷菌利用生成甲烷
          %p 旺田处理工艺将1-3步骤和第四步分开。经过预处理的原料含有乙酸供甲烷菌生产甲烷。此项技术也把甲烷菌从与其他菌竞争食物的生态环境下解放出来。旺田菌剂的有效性得到多个实验室和项目运行的验证，根据原料成分而调配的菌剂添加入预降解池（通常称为兼性池）。1-3步反应均在兼性池完成。添加菌剂有助于提高乙酸产出。

          %p 旺田微生物菌剂的作用包括：
          %ol
            %li 所含微生物分泌的酶可穿透细胞壁，提高COD降解率，也可减少污泥粘性，减少泡沫形成，提高污泥沉淀效果；
            %li 可防止酸中毒，无需添加碱性物质，避免碱中毒的发生；
            %li 含营养性微生物，从而可避免C/N比失衡问题的发生；
            %li 在预降解阶段可完成硫成分的提取，从而降低在厌氧降解阶段以硫成分为原料的减硫菌代谢过程的硫化氢产量。
          %hr

        .content#_technology
          %h1 工艺设计
          %p
            旺田工艺设计属于厌氧设施生产工艺的生态改良性工艺方案，经过设计、开发和优化而成，系统由创新工程结构和生态管理部件组成，用于实现低成本成本运行下，高价值产品生产最大化。
          %img{ src: 'img/about06.png'}
          %p
          %h4 甲烷纯度
          %p 
            传统厌氧沼气含量介于50-60%，硫化氢含量0.5%。
            %br 采用旺田工艺，沼气中甲烷含量均超过70%以上，甚至于80%以上，且硫化氢含量很低。
          %p
          %h4 肥料成分
          %p 从旺田工艺好氧降解过程获取的生物质固体物含氮水平较高，下表比较猪粪、牛粪、鸡粪和旺田生物质固体物成本表：

          %table{ boarder: '1', width: '80%'}
            %tr
              %th 肥料种类  
              %th{ colspan: 3} 干物质含量（%）
            %tr
              %th 
              %th N 
              %th P 
              %th K
            %tr
              %td 牛粪  
              %td 2.4 
              %td 1.4 
              %td 3.2
            %tr
              %td 猪粪  
              %td 2.8 
              %td 2.8 
              %td 2.0
            %tr 
              %td 肉鸡  
              %td 5.0 
              %td 4.2 
              %td 3.0
            %tr 
              %td 旺田生物质固体 
              %td 8.0 
              %td 2.0 
              %td 0.9


