/ Breadcrumbs - START
.background-clouds.breadcrumbs-container
  .container
    %ol.breadcrumb
      %li
        %a{:href => "index"} 首页
      %li.active 客户案例
/ Breadcrumbs - END
%section
  .container
    .row
      .col-md-9
        %h1 常州运行技术支持业绩
        %p
          %img{ src: 'img/client01.png'}
        %p 项目简介：农业局全资投资的农业废弃物集中处理中心，为当地中小养殖企业提供环保处理服务。日处理高浓度养殖污水80-100吨。
        %p
          %img{ src: 'img/client02.png'}
        %p 旺田提供微生物改良菌剂及添加工艺、设施；增加自动化运营系统。确保菌剂和原料充分混合和预降解效率。
        %h2 运营数据
        %p
          %img{ src: 'img/client03.png'}
        %p
          %img{ src: 'img/client04.png'}
