.background-clouds.breadcrumbs-container
  .container
    %ol.breadcrumb
      %li
        %a{:href => "index"} 首页
      %li.active 联系我们
/ Breadcrumbs - END
%section
  .container
    .row
      .col-sm-6.col-md-6
        .thumbnail.info-thumbnail.padding1.background-clouds.color-black
          .caption.background-white
            %h3 Contacts
            %p
              %span.fa.fa-home.color-lead
              漕宝路410号422单元
            %p
              %span.fa.fa-envelope.color-lead
              david.li@wangtiantech.com
            %p
              %span.fa.fa-phone-square.color-lead
              021-5426 0365
            %p
              %span.fa.fa-globe.color-lead
              www.swte.cn
      .col-sm-6.col-md-6
        .thumbnail.info-thumbnail.padding1.background-clouds.color-black
          .caption.background-white
            %h3 Business hours
            %p
              %strong.color-lead 星期一至星期五:
              9am - 5pm
            %p
              %strong.color-lead 星期六至星期日:
              休息
