/ Breadcrumbs - START
.background-clouds.breadcrumbs-container
  .container
    %ol.breadcrumb
      %li
        %a{:href => "index"} 首页
      %li.active 平台登录
/ Breadcrumbs - END
%section
  .container
    .row
      .col-sm-12.col-md-offset-1.col-md-6
        %h1 平台登录
        %p SWTE平台提供分布式废弃物处理和能源利用交流平台。为农业面源、农产品加工和城镇化有机废弃物生产和收集以及处理企业提供资源化利用基本条件和产出预测，也为生物燃气及分布式能源需求企业提供市场信息。我们还为沼气工程、沼气应用设备企业提供产品介绍平台。

        %ul
          %li 
            %h4 农场和养殖场
            废弃物资源化利用预测表

          %li 
            %h4 生物燃气购买企业
            分布式能源供求信息表

          %li
            %h4 沼气工程和沼气利用设备企业展示区
            产品及服务介绍等
        %h1 系统作业中，敬请期待
