/ Breadcrumbs - START
.background-clouds.breadcrumbs-container
  .container
    %ol.breadcrumb
      %li
        %a{:href => "index"} 首页
      %li.active SWTE中心
/ Breadcrumbs - END
%section
  .container
    .row
      .col-md-9
        %h1 SWTE中心
        %p
          %h4
            向沼气厂项目提供:
            %br 
            技术开发、授权、技术支持、沼气增值、沼液和渣应用、CDM项目申报商业合作及咨询服务。
        %img{src: 'img/swte01.png'}
        %p
          %h3 混合发酵降解系统开发、技术支持
        %p 针对城镇化进程和农产品深加工产生日益增多的有机废弃物，可根据所涉及污染物种类进行沼气厂处理系统的研究和开发，完成沼气厂改造或提供新建项目所需的可行性研究、环境评估以及气体利用方案等在内的前期咨询服务，提供包括菌种供应、运营技术支持、处理效果检测在内的项目整体解决方案。
        %p
          %h3 大型沼气厂合同运行管理
        %p 针对大型沼气厂提供包括提高处理量、提高降解率在内的沼气增产技术服务和沼气厂增值生产和销售支持。提高现有设施运行管理水平、沼液和沼渣利用水平、提高沼气厂运行效益等。
        
        %hr
    .row
      .col-md-9
        %h1 技术应用及前景
        %h3 实现沼气厂可持续运行的首选
        %p 旺田技术升级或新建成本低，适用于我国已经建成的大多数CSTR项目，从多方面最大限度发挥现有设施的处理能力，从而增产增效，有望实现沼气厂可持续运行。
        %ol
          %li
            拓宽原料来源：旺田菌剂可以实现多种原料混合降解，拓宽原料来源，并有望实现废弃物的就近处理
          %li 优化微生物微环境和降解环境：旺田菌剂有助于微生物繁育微环境和厌氧菌降解反应环境的最有效化，从而减少由于温度和搅拌效率低下或变化造成的系统运行效率波动
          %li 合作灵活：可提供并网发电、生物燃气加工及销售等方面咨询和商业合作
          %li 渣液分离和利用：独特重金属分离技术和充分降解，保证渣液分离效率及使用安全
        %h3 可持续运行沼气厂需满足的条件
        %ul
          %li
            原料保障：日处理费废物总量和种类应较为稳定，进料均匀
          %li 反应条件：降解温度及设施混合搅拌有保证
          %li 产品销售：沼气及制成品就近销售，或并网发电，热能可以用于温室种植
          %li 渣液分离：悬浮颗粒和重金属有效分离，从而保证氧化塘降解效率


        


